<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greedy Algorithm: Fractional Knapsack</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/fracknap_styles.css">
    <script>
        function addItem() {
            let container = document.getElementById("items-container");

            let newItem = document.createElement("div");
            newItem.innerHTML = `
                <input type="number" name="profits" placeholder="Profit" required>
                <input type="number" name="weights" placeholder="Weight" required>
                <button type="button" onclick="removeItem(this)">🗑️</button>
            `;

            container.appendChild(newItem);
        }

        function removeItem(button) {
            button.parentElement.remove();
        }
    </script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">solver</div>
        <ul class="nav-links" id="nav-links">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#">Dynamic Programming</a>
                <ul class="dropdown-content">
                    <li><a href="/dp/knapsack">0/1 Knapsack</a></li>
                    <li><a href="/dp/lcs">LCS</a></li>
                    <li><a href="/dp/mcm">Matrix Chain Multiplication</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Graph Algorithm</a>
                <ul class="dropdown-content">
                    <li><a href="/graph/dijkstra">Dijkstra's Algorithm</a></li>
                    <li><a href="/graph/floyd-warshall">Floyd-Warshall Algorithm</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Greedy Algorithm</a>
                <ul class="dropdown-content">
                    <li><a href="/greedy/fractional-knapsack">Fractional Knapsack</a></li>
                    <li><a href="/greedy/job-sequencing">Job Sequencing</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Machine Learning</a>
                <ul class="dropdown-content">
                    <li><a href="/ml/linear-regression">Linear Regression</a></li>
                    <li><a href="/ml/kmeans">K-Means Clustering</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>Fractional Knapsack Solver</h1>
    
    <form method="POST" action="/greedy/fractional-knapsack" onsubmit="return validate()">

        <label for="capacity">Capacity:</label>
        <input type="number" name="capacity" required>

        <h3>Items (Profit & Weight)</h3>
        <div id="items-container">
            <div>
                <input type="number" name="profits" placeholder="Profit" required>
                <input type="number" name="weights" placeholder="Weight" required>
                <button type="button" onclick="removeItem(this)">🗑️</button>
            </div>
        </div><br>
        <button type="button" onclick="addItem()" style="margin-bottom: 5px; padding: 8px 12px; border-radius: 5px; border: none; background-color: #007BFF; color: white; cursor: pointer;">➕</button>

        <br><br>
        <button type="submit" style="background-color: #01936a;">Solve</button>
    </form>

    {% if result is not none %}
        <h2>Max Profit: {{ result }}</h2>
    {% endif %}
    
</body>
</html>
