<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greedy Algorithm: Job Sequencing</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        function addItem() {
            let container = document.getElementById("items-container");

            let newItem = document.createElement("div");
            newItem.innerHTML = `
                <input type="number" name="profits" placeholder="Profit" required>
                <input type="number" name="deadlines" placeholder="deadline" required>
                <button type="button" onclick="removeItem(this)">🗑️</button>
            `;

            container.appendChild(newItem);
        }

        function removeItem(button) {
            button.parentElement.remove();
        }
    </script>
</head>
<body>
    <h1>Job Sequencing Solver</h1>

    
    
    
    <form method="POST" action='/greedy/job-sequencing'>
        <h3>Jobs (Profit & Deadline)</h3>
        <div id="items-container">
            <div>
                <input type="number" name="profits" placeholder="Profit" required>
                <input type="number" name="deadlines" placeholder="deadline" required>
                <button type="button" onclick="removeItem(this)">🗑️</button>
            </div>
        </div><br>
        <button type="button" onclick="addItem()">➕</button>

        <br><br>
        <button type="submit">Solve</button>
    </form>

{% if result is not none %}
    <h2>Max Profit: {{ result[1] }}</h2>
    <h3>Jobs Completed: {{ result[0] }}</h3>
{% endif %}

</body>
</html>