<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main Menu</title>
    <link rel="stylesheet" href="/static/styles-main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles-main.css">

    
</head>

<body>
    <nav>
        <ul>
            <li class="dropdown">
                <a href="#">Dynamic Programming</a>
                <ul class="dropdown-content">
                    <li><a href="/dp/knapsack">0/1 Knapsack</a></li>
                    <li><a href="/dp/lcs">LCS</a></li>
                    <li><a href="/dp/mcm">Matrix Chain Multiplication</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Graph Algorithm</a>
                <ul class="dropdown-content">
                    <li><a href="/graph/dijkstra">Dijkstra's Algorithm</a></li>
                    <li><a href="/graph/floyd-warshall">Floyd-Warshall Algorithm</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Greedy Algorithm</a>
                <ul class="dropdown-content">
                    <li><a href="/greedy/fractional-knapsack">Fractional Knapsack</a></li>
                    <li><a href="/greedy/job-sequencing">Job Sequencing</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Machine Learning</a>
                <ul class="dropdown-content">
                    <li><a href="/ml/linear-regression">Linear Regression</a></li>
                    <li><a href="/ml/k-means">K-Means Clustering</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="main-body" >
    <h1> solver     </h1>
    <h3> One-stop Algorithm Solving and Visualising Tool</h3>
    </div>

    <div class="submitted-section">
        <h4 style="font-style: oblique;">Submitted by</h4>
        <div class = "names" style="display: grid; grid-template-columns: 1fr 1fr; width: 50%">
            <h3>Maitreyee Sar</h3> <h3>2205388</h3>
            <h3>Shubhangini Sarathy</h3> <h3>2205417</h3>
            <h3>Sneha Mishra</h3> <h3>2205418</h3>
            <h3>Jaskirat Singh</h3> <h3>2205735</h3>

        </div>
    </div>
    <footer>6th Semester Project for Applications Development Lab, Made with 💖</footer>
    </p>
</body>
</html>