<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main Menu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li class="dropdown">
                <a href="#">Dynamic Programming</a>
                <ul class="dropdown-content">
                    <li><a href="/dp/knapsack">0/1 Knapsack</a></li>
                    <li><a href="/dp/longest-common-subsequence">LCS</a></li>
                    <li><a href="/dp/matrix-chain-multiplication">Matrix Chain Multiplication</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Graph Algorithm</a>
                <ul class="dropdown-content">
                    <li><a href="/dijkstra">Dijkstra's Algorithm</a></li>
                    <li><a href="/graph/floyd-warshall">Floyd-Warshall Algorithm</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Greedy Algorithm</a>
                <ul class="dropdown-content">
                    <li><a href="/fracknap">Fractional Knapsack</a></li>
                    <li><a href="/jobs">Job Sequencing</a></li>
                    <li><a href="/greedy/huffman-coding">Huffman Coding</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Machine Learning</a>
                <ul class="dropdown-content">
                    <li><a href="/ml/linear-regression">Linear Regression</a></li>
                    <li><a href="/ml/k-means">K-Means Clustering</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <p class="main-body"></p>
    <h1> The #1 helper </br>for student life</br> in math.
    </h1>
    <div class="submitted-section">
        <h3>Submitted by</h3>
        <h3>Maitreyee Sar</h3>
        <h3>Shubhangini Sarathy</h3>
        <h3>Sneha Mishra</h3>
        <h3>Jaskirat Singh</h3>
    </div>
    <footer>AD Lab Project Made with 💖</footer>
    </p>
</body>
</html>