<div class = "navbar">
    <ul class = "menu">
        <li class = "dropdown">
            <button class = "dropdown-btn">Greedy Algorithms</button>
            <ul class = "dropdown-menu">
                <li><a href = "fracknap.html">Fractional Knapsack</a></li>
                <li><a href = "jobs.html">Jobs Sequencing</a></li>
            </ul>
        </li>

        <li class = "dropdown">
            <button class = "dropdown-btn">Dynamic Programming</button>
            <ul class = "dropdown-menu">
                <li><a href = "knapsack.html">0/1 Knapsack</a></li>
                <li><a href = "lcs.html">Longest Common Subsequence</a></li>
            </ul>
        </li>
        
    </ul>